/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    height: 6vh;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size:x-large
}
nav ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: blanchedalmond;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para páginas individuais podem ser adicionados aqui */
